<div class="btn-wrapper">
  <button (click)="toggleViewer('pdf')">Show PDF</button>
  <button (click)="toggleViewer('ppt')">Show PPT</button>
  <button (click)="toggleViewer('excel')">Show Excel</button>
</div>
<div class="doc-container">
  <div class="pdf-view" *ngIf="showPDF">
    <ngx-doc-viewer [url]="pdfSrc" viewer="google" style="width:100%;height:90vh;" >
    </ngx-doc-viewer>
  </div>
  <div class="ppt-view" *ngIf="showPPT">
    <ngx-doc-viewer [url]="pptSrc" viewer="office" style="width:100%;height:90vh;" >
    </ngx-doc-viewer>
  </div>
  <div class="excel-view" *ngIf="showExcel">
    <ngx-doc-viewer [url]="excelSrc" viewer="office" style="width:100%;height:90vh;" >
    </ngx-doc-viewer>
  </div>
</div>
