:host {
  display: block;
}
p {
  font-family: Lato;
}

.btn-wrapper {
  margin-bottom: 10px;
  button{
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: rgb(101, 101, 223);
    color: white;
  }
}
.doc-container {
  background-color: rgb(192, 186, 186);
  width: 100%;
  height: 90vh;
}
